<form class="card changepassword-dialog">
    <div class="header">
        Change Password
    </div>

    {{{oldPasswordInput}}}
    {{{newPasswordInput}}}
    {{{verifyNewPasswordInput}}}

    <div style="height: 40px;"></div>

    {{{saveButton}}}
    {{{backLink}}}

</form>
