<form class="card account-dialog">
    <div class="header">
        Hi, {{display_name}}!
    </div>

    <div class="account-picture" style="background-image: url('{{avatarURL}}'); background-size: contain;">
        <label for="input-avatar" class="change-account-picture">Change</label>
        <input style="display: none;" id="input-avatar" type="file" name="avatar" accept="image/*" />
    </div>

    {{{firstNameInput}}}
    {{{secondNameInput}}}
    {{{displayNameInput}}}
    {{{usernameInput}}}
    {{{phoneInput}}}
    {{{emailInput}}}

    <div style="height: 40px;"></div>

    {{{saveButton}}}
    {{{backLink}}}

</form>
